#health-finder-results {
    border: solid 1px;
    min-height: 20px;
}

#spinner {
  padding: 20px;
  display: inline-block;
}

.tile {
  padding: 10px;
  overflow: hidden;
}

.panel .panel-heading {
  padding: 10px 0 10px 25px;
}

.panel .description {
  padding: 10px 0 0 10px;
  min-height: 60px;
}

.total {
  padding: 10px;
}
