/*
ul {
    list-style-type: none;
}

ul li {
    border: solid 1px;
    margin: 10px;
}

ul li ul li {
    border: none;

}
*/

#health-finder-results {
    border: solid 1px;
    min-height: 20px;
}

#spinner {
  padding: 20px;
  display: inline-block;
}
