<!--
/**
sequence: index,
category_heading: topic.MyHFCategoryHeading,
last_update: topic.LastUpdate,
image_alt : topic.ImageAlt,
title : topic.Title,
image_url : topic.ImageUrl,
populations : topic.Populations,
description : topic.MyHFDescription,
related_items : topic.RelatedItems,
category : topic.MyHFCategory,
url : topic.HealthfinderUrl,
accessible_version : topic.AccessibleVersion,
sections : topic.sections,
id : topic.Id,
categories: topic.Categories,
logo: topic.HealthfinderLogo

**/
-->

<script id="health-recommender" type="text/html">
<li id="{{id}}" class="collapsible">
    <h4>{{title}}</h4>
    <div class="health-content">
        <div class="description">
            {{description}}
        </div>
        <a href="http://healthfinder.gov">
            <img src="{{image_url}}" alt="{{image_alt}}" />
        </a>

        <a href="{{accessible_version}}" target="_blank">Accessible Version</a>

        {{#sections}}
        <div>Sections
            <ul class="panel-group" id="section-items-{{id}}">
                <li class="panel">
                    <div class="panel-default">
                        <a data-toggle="collapse" data-parent="#sections-items-{{id}}" href="#collapse-{{sequence}}-{{id}}" class="collapsed">
                            <h4 title="Most people who have a sexually transmitted disease (STD) don&amp;rsquo;t have any symptoms. The only way to know if you have an STD is to get tested.">The Basics</h4></a>
                    </div>
                    <div class="panel-collapse collapse" id="collapse-{{sequence}}-{{id}}">
                    </div>
                </li>
            </ul>
        </div>
        {{/sections}}

        {{#related_items}}
        <div class="related-items">Related Items
            {{related_items}}
        </div>
        {{/related_items}}
        <div>{{category_heading}}
            Categories
            <div class="categories">{{categories}}</div>
        </div>
    </div>

</li>
</script>



