<script id="health-recommender" type="text/html">
<li id="{{id}}">
    <h4>{{title}}</h4>
    <a href="{{hf_url}}">Accessible Version</a>
    <a href="http://healthfinder.gov">
        <img src="{{image_url}}" alt="Health Finder">
    </a>
    <div>Sections
        <ul class="panel-group" id="section-items-{{id}}">
            <li class="panel">
                <div class="panel-default">
                    <a data-toggle="collapse" data-parent="#sections-items-{{id}}" href="#collapse-0-32" class="collapsed"><h4 title="Most people who have a sexually transmitted disease (STD) don&amp;rsquo;t have any symptoms. The only way to know if you have an STD is to get tested.">The Basics</h4></a>
                </div>
                <div class="panel-collapse collapse" id="collapse-{{sequence}}-{{id}}">
                    <p>
                        <p>Chlamydia, gonorrhea, and syphilis are STDs (sexually transmitted diseases) that can be passed on during vaginal, anal, or oral sex. STDs can also be passed from a pregnant woman to her baby before or during the baby’s birth.</p>
                        <p>STDs are also sometimes called STIs (sexually transmitted infections).</p>
                        <p><strong>How can I know if I have an STD?</strong>
                            <br>Getting tested is the only way to know for sure if you have an STD. Most people who have an STD don’t have any symptoms.</p>
                        <p>It’s also important to talk with a doctor or nurse if a recent sex partner has been diagnosed with an STD, even if you don’t feel sick.</p>
                        <p><strong>Can chlamydia, gonorrhea, and syphilis be cured?</strong>
                            <br>Yes. These STDs can be cured with medicine if they are treated early. If these STDs aren’t treated, they can cause serious health problems, like making it dangerous or impossible for women to get pregnant.</p>
                        <p>If you have an STD, it’s important to get treatment right away. It’s also important to tell anyone that you have sex with so he or she can get treatment, too. This will help prevent you from getting infected again.</p>
                        <p><strong>Who needs to get tested for chlamydia (“kluh-MID-ee-uh”)?</strong>
                        </p>
                        <p><strong><em>For women:</em></strong>
                        </p>
                        <ul>
                            <li>If you are age 24 or younger and having sex, get tested once every year.</li>
                            <li>If you are age 25 or older, get tested if you have multiple sex partners or a new sex partner.</li>
                        </ul>
                        <p><strong><em>For men:</em></strong>
                        </p>
                        <ul>
                            <li>Talk with a doctor about getting tested if you are worried about chlamydia or other STDs.</li>
                        </ul>
                        <p><strong><em>What are the signs of chlamydia?</em></strong>
                            <br>Most people who have chlamydia don’t have any signs or symptoms.</p>
                        <ul>
                            <li>Women with symptoms may have abnormal discharge (fluid) from the vagina, burning when they urinate (pee), or pain during sex.</li>
                            <li>Men with symptoms may have abnormal discharge from the penis or burning when they urinate.</li>
                        </ul>
                        <p>Tell a doctor if you have any of these <a href="http://www.cdc.gov/std/chlamydia/STDFact-Chlamydia.htm#a6">symptoms of chlamydia</a>.</p>
                        <p><strong><em>How is the test done?</em></strong>
                            <br>A doctor or nurse can test your urine (pee) for chlamydia. Sometimes a sample is taken from the vagina or penis to test. The test is easy and painless.</p>
                        <p>Learn more about chlamydia:</p>
                        <ul>
                            <li><a href="http://www.cdc.gov/std/Chlamydia/the-facts/Chlamydia_2011_508.pdf">Chlamydia Fact Sheet [PDF - 4 MB]</a>
                            </li>
                            <li><a href="http://www.womenshealth.gov/publications/our-publications/fact-sheet/chlamydia.html">Women and Chlamydia</a>
                            </li>
                        </ul>
                        <p><strong>Who needs to get tested for gonorrhea (“gah-nuh-REE-uh”)?</strong>
                        </p>
                        <p><strong><em>For women:</em></strong>
                            <br>If you are having sex, get tested for gonorrhea if you:</p>
                        <ul>
                            <li>Have multiple sex partners or a new sex partner</li>
                            <li>Don’t use a condom every time you have sex</li>
                            <li>Use drugs</li>
                            <li>Have had gonorrhea or another STD in the past</li>
                        </ul>
                        <p><em><strong>For men:</strong></em>
                        </p>
                        <ul>
                            <li>Talk to your doctor about getting tested if you are worried about gonorrhea or other STDs.</li>
                        </ul>
                        <p><strong><em>What are the signs of gonorrhea?</em></strong>
                            <br>Most people who have gonorrhea don’t have any signs or symptoms.</p>
                        <ul>
                            <li>Women with symptoms may have abnormal discharge (fluid) from the vagina, burning when they urinate (pee), or pain during sex.</li>
                            <li>Men with symptoms may have abnormal discharge from the penis or burning when they urinate.</li>
                        </ul>
                        <p>Tell your doctor if you have any of these <a href="http://www.cdc.gov/std/Gonorrhea/STDFact-gonorrhea.htm#a6 ">symptoms of gonorrhea</a>.</p>
                        <p><strong><em>How is the test done?</em></strong>
                            <br>A doctor or nurse can test your urine for gonorrhea. Sometimes a sample is taken from the vagina or penis to test. The test is easy and painless.</p>
                        <p>Learn more about gonorrhea:</p>
                        <ul>
                            <li><a href="http://www.cdc.gov/std/gonorrhea/the-facts/gonorrhea-the-facts-2012.pdf">Gonorrhea Fact Sheet [PDF - 19 KB] </a>
                            </li>
                            <li><a href="http://www.womenshealth.gov/publications/our-publications/fact-sheet/gonorrhea.html">Women and Gonorrhea</a>
                            </li>
                        </ul>
                        <p><strong>Who needs to get tested for syphilis (“SIF-uh-lis”)?</strong>
                        </p>
                        <p><strong><em>For women:</em></strong>
                        </p>
                        <ul>
                            <li>If you are pregnant, get tested for syphilis.</li>
                        </ul>
                        <p><strong><em>For men:</em></strong>
                        </p>
                        <ul>
                            <li>If you are a man who has sex with men – and you or your partner has sex with anyone else – get tested for syphilis.</li>
                        </ul>
                        <p><strong><em>What are the signs of syphilis?</em></strong>
                            <br>Many people who have syphilis don’t have any signs or symptoms. Some people have symptoms during the early stages (or phases) of infection.</p>
                        <ul>
                            <li>In the first stage, a painless sore appears on the genitals, lips, tongue, or anus.</li>
                            <li>The second stage may include a rash on the palms of the hands and soles of the feet, sores in the throat or mouth, fever, or patchy hair loss.</li>
                        </ul>
                        <p>Tell your doctor if you have any of these <a href="http://www.cdc.gov/std/syphilis/STDFact-Syphilis.htm#a7 ">symptoms of syphilis</a>.</p>
                        <p><strong><em>How is the test done?</em></strong>
                            <br>The doctor or nurse may test your blood for syphilis. Sometimes fluid is taken from a sore to see if the sore is caused by syphilis.</p>
                        <p>Learn more about syphilis:</p>
                        <ul>
                            <li><a href="http://www.womenshealth.gov/publications/our-publications/fact-sheet/syphilis.html">Women and Syphilis</a>
                            </li>
                            <li><a href="http://www.cdc.gov/std/Syphilis/STDFact-MSM-Syphilis.htm">Syphilis and MSM (Men Who Have Sex With Men)</a>
                            </li>
                        </ul>
                    </p>
                </div>
            </li>
            <li class="panel">
                <div class="panel-default"><a data-toggle="collapse" data-parent="#sections-items-32" href="#collapse-1-32" class="collapsed"><h4 title="If you think you may be at risk, make an appointment to get tested.">Take Action!</h4></a>
                </div>
                <div class="panel-collapse collapse" id="collapse-1-32">
                    <p>
                        <p>Get tested regularly for STDs, especially if you are younger than age 25. Talk with your partner about getting tested, too.</p>
                        <p><strong>Make an appointment at a health center or clinic.</strong>
                            <br>If you think you may be at risk, talk with your doctor about STDs. To find an STD clinic near you:</p>
                        <ul>
                            <li><a href="http://hivtest.cdc.gov/STDTesting.aspx">Enter your ZIP code to find a local testing site</a>.</li>
                            <li>Call 1-800-CDC-INFO (1-800-232-4636).</li>
                        </ul>
                        <p><a href="http://healthfinder.gov/HealthTopics/Category/health-conditions-and-diseases/hiv-and-other-stds/hiv-testing-questions-for-the-doctor">Be sure to ask about getting tested for HIV, too</a>.</p>
                        <p><strong><em>What about cost?</em></strong>
                            <br>Some STD testing and prevention counseling is covered under the <a href="https://www.healthcare.gov/how-does-the-health-care-law-protect-me">Affordable Care Act</a>, the health care reform law passed in 2010. Depending on your insurance plan, you may be able to get these services at no cost to you.</p>
                        <p>Talk to your insurance company to find out what this means for you. <a href="https://www.healthcare.gov/what-are-my-preventive-care-benefits">For&nbsp;information about other services covered by the Affordable Care Act, visit&nbsp;HealthCare.gov</a>.</p>
                        <p><strong>Stay safe.</strong>
                            <br>The best way to protect yourself from STDs is to not have sex or to wait until you are in a relationship with only one person and you’ve both been tested. If you know that you or your partner has an STD, get it treated before having sex.</p>
                        <p>Here are some other ways to protect yourself from STDs:</p>
                        <ul>
                            <li><a href="http://www.ashastd.org/std-sti-works/condoms.html">Use a latex condom every time you have vaginal, anal, or oral sex</a>.</li>
                            <li>Make sure you and your partner have been tested for STDs.</li>
                        </ul>
                        <p><a href="http://healthfinder.gov/HealthTopics/ViewTool.aspx?toolId=17">Get tips on talking with your partner about STD testing</a>.</p>
                        <p><strong>If you are pregnant, talk with your doctor about STD testing.</strong>
                            <br>Having an STD while you are pregnant can be very serious for you and your baby. <a href="http://www.cdc.gov/std/pregnancy/STDFact-Pregnancy.htm">Find out more about STDs and pregnancy</a>.</p>
                    </p>
                </div>
            </li>
            <li class="panel">
                <div class="panel-default"><a data-toggle="collapse" data-parent="#sections-items-32" href="#collapse-2-32" class="collapsed"><h4>Start Today: Small Steps</h4></a>
                </div>
                <div class="panel-collapse collapse" id="collapse-2-32">
                    <p>
                        <ul>
                            <li><a href="http://womenshealth.gov/hiv-aids/preventing-hiv-infection/practice-safer-sex.html">Practice safer sex to prevent HIV</a>.</li>
                            <li>Call your doctor or health clinic to schedule an STD test.</li>
                            <li><a href="http://www.ashastd.org/std-sti/reduce-your-risk/prevention-tips.html">Take these steps to prevent sexually transmitted diseases</a>.</li>
                        </ul>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="related-items">Related Items
        <ul class="collapse in">
            <li><a target="_blank" href="http://healthfinder.gov/HealthTopics/Category/health-conditions-and-diseases/hiv-and-other-stds/std-testing-conversation-starters" title="Opens in a new tab">STD Testing: Conversation starters</a><i>&nbsp; (tool)</i>
            </li>
            <li><a target="_blank" href="http://healthfinder.gov/HealthTopics/Category/health-conditions-and-diseases/hiv-and-other-stds/hiv-testing-questions-for-the-doctor" title="Opens in a new tab">HIV Testing: Questions for the doctor</a><i>&nbsp; (tool)</i>
            </li>
            <li><a target="_blank" href="http://healthfinder.gov/HealthTopics/Category/health-conditions-and-diseases/hiv-and-other-stds/get-tested-for-hiv" title="Opens in a new tab">Get Tested for HIV</a><i>&nbsp; (topic)</i>
            </li>
            <li><a target="_blank" href="http://healthfinder.gov/HealthTopics/Category/health-conditions-and-diseases/hiv-and-other-stds/choose-the-right-birth-control" title="Opens in a new tab">Choose the Right Birth Control</a><i>&nbsp; (topic)</i>
            </li>
        </ul>
    </div>
    <div>Categories
        <div class="categories">{{categories}}</div>
    </div>
</li>
</script>



